.vs/VSWorkspaceState.json
.vs/KSC.Observability/config/applicationhost.config
.vs/KSC.Observability/copilot-chat/bccb9830/sessions/1e17ebce-8863-405b-8512-ca5a80adedd6
.vs/KSC.Observability/copilot-chat/bccb9830/sessions/6d5ff97c-205b-4a84-aba6-2ea9a68a68cd
.vs/KSC.Observability/CopilotIndices/17.14.1147.5054/CodeChunks.db
.vs/KSC.Observability/CopilotIndices/17.14.1147.5054/CodeChunks.db-shm
.vs/KSC.Observability/CopilotIndices/17.14.1147.5054/CodeChunks.db-wal
.vs/KSC.Observability/CopilotIndices/17.14.1147.5054/SemanticSymbols.db
.vs/KSC.Observability/CopilotIndices/17.14.1147.5054/SemanticSymbols.db-shm
.vs/KSC.Observability/CopilotIndices/17.14.1147.5054/SemanticSymbols.db-wal
.vs/KSC.Observability/DesignTimeBuild/.dtbcache.v2
.vs/KSC.Observability/FileContentIndex/8bcde0ef-6c89-4389-aa70-33979e17efc9.vsidx
.vs/KSC.Observability/FileContentIndex/38d74e52-c2f6-4cc3-85c2-db43b4244443.vsidx
.vs/KSC.Observability/FileContentIndex/ba4bd63c-6a07-41c3-a102-b2f1e12c282d.vsidx
.vs/KSC.Observability/FileContentIndex/bf905d07-5b99-4427-9b96-e7628182413c.vsidx
.vs/KSC.Observability/FileContentIndex/d4f4b2b8-fb83-48ac-ba17-5701ef267e7c.vsidx
.vs/KSC.Observability/v17/.futdcache.v2
.vs/KSC.Observability/v17/.suo
.vs/KSC.Observability/v17/.wsuo
.vs/KSC.Observability/v17/DocumentLayout.backup.json
.vs/KSC.Observability/v17/DocumentLayout.json
.vs/ProjectEvaluation/ksc.observability.metadata.v9.bin
.vs/ProjectEvaluation/ksc.observability.projects.v9.bin
.vs/ProjectEvaluation/ksc.observability.strings.v9.bin
